<div class="jumbotron">
		<h3 class="text-center">Online Lego Market</h3>
		<p class="text-center">Here you can buy or sell Lego</p>
</div>
<div class="row text-center">
  <% @listings.each do |listing| %>
    <div class="col-xs-3">
	    <div class="thumbnail">
		    <%= link_to image_tag(listing.image.url), listing %>
        <div class="caption">
          <h4><%= listing.name %></h4>
          <p><%= number_to_currency(listing.price) %></p>
          <p><%= "Sold by #{listing.user.name}" %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= will_paginate @listings, renderer: BootstrapPagination::Rails %>

<br>

<% if user_signed_in? %>    
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-primary", data: { no_turbolink: true } %>
<% end %>